/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 1em;
}

h1, h2, h3 {
    color: #333;
}

#butterfly-list ul {
    list-style-type: none;
    padding: 0;
}

#butterfly-list li {
    background-color: #ffffff;
    margin: 0.5em 0;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
